name: eShopOnWeb Build and Test

on: workflow_dispatch

jobs:
  build:

    RESOURCE-GROUP: rg-eshoponweb-westeurope


995758cb-1f77-4aaf-8774-baea9f949a22 devops-webapp-westeurope-1777929204

    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.0.x'
        include-prerelease: true

    - name: Build with dotnet
      run: dotnet build ./eShopOnWeb.sln --configuration Release
    
    - name: Test with dotnet
      run: dotnet test ./eShopOnWeb.sln --configuration Release

